* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.login-wrapper {
    max-width: 600px;
    margin: 100px auto 0 auto;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.percents {
    width: 200px;
    height: 26px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin-top: 14px;
}

.percents span {
    font-size: 14px;
}

.percents-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: red;
    z-index: -1;
    transition: all 0.3s;
}

h2 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin-top: 30px;
}
h1 {
    font-size: 6rem;
    line-height: 1.167;
}

h3 {
    font-size: 3rem;
    line-height: 1.167;
}

h1,
h2 {
    font-weight: 400;
    letter-spacing: -0.01562em;
    color: rgb(26, 32, 39);
}

.prelouder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    pointer-events: none;
}

.prelouder.active {
   opacity: 1;
   pointer-events: all;
}